
# (1): Ignore all the modules Node needs:
node_modules

# (2): Ignore environmental variables:
.env

# (3): Ignore fancy config stuff:
config.json

# (4): I should probably ignore this thing, too:
.vscode